    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sensor Data Migration Form</h3>
      </div>
      <div class="panel-body">
          <table class="table" *ngIf="!isLoading">
          <thead>
            <tr>
              <th>id</th>
              <th>host</th>
              <th>timestamp</th>
              <th>sensors</th>
            </tr>
          </thead> 
          <tr *ngFor='let d of data' >
            <td>{{ d._id }}</td>
            <td>{{ d.host }} </td>
            <td>{{ d.timestamp }} </td>
            <td>
              <ul *ngFor='let s of d.sensor'>
                <li> {{ s }}  
                  <i *ngIf="mapped(d.host, s)" 
                      class="fa fa-check"></i>
                </li>
              </ul> 
            </td>
          </tr>
        </table>  
          <spinner [visible]="isLoading"></spinner>
      </div>
    </div>