    
<div class="alert alert-info">
    SensorListComponent found
</div>

<div class="row">        
  <div class="col-md-4 col-md-offset-1">  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">List of Sensors </h3> 

      </div>
      <div class="panel-body">
        <table class="table" *ngIf="!isLoading">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>host</th>
              <th>type</th>
            </tr>
          </thead> 
          <tr *ngFor='let sensor of sensors' >
            <td>{{ sensor._id }}</td>
            <td>{{ sensor.name }}</td>
            <td>{{ sensor.host }} </td>
            <td>{{ sensor.type.name }} </td>
          </tr>
        </table>  
        <spinner [visible]="isLoading"></spinner>
      </div>
    </div>
    <div  align="right">    
      <button type="button" class="btn btn-default btn-sm">Add Sensor</button>
    <div>
  </div>   
</div>

<div class="alert alert-danger" *ngIf="errorMsg">
    SensorListComponent error: {{ errorMsg }}
</div> 
