    
<div class="alert alert-info">
    SensorListComponent found
</div>

<div class="row">        
<div class="col-md-4 col-md-offset-1">
<table class="table">
<thead>
  <tr>
    <th>host</th>
    <th>soil</th>
    <th>date</th>
  </tr>
</thead>
  <tr *ngFor='let sensor of sensors'>
    <th>{{ sensor.host }}</th>
    <th>{{ sensor.soil }}</th>
    <th>{{ sensor.date }} </th>
  </tr>
</table>  
</div>   
</div>

<div class="alert alert-danger" *ngIf="errorMsg">
    SensorListComponent error: {{ errorMsg }}
</div> 
